h1 {
    text-align: center;
    font-size: 10rem;
    margin: auto;
}

body {
    background-color:rgb(252, 232, 214);
    margin-left: 3rem;
    margin-right: 3rem;
    color: black;
}

footer {
    text-align: center;
    margin-top: 5rem;
}

img {
    height: 250px;
    left: 50%;
    margin-top: 20px;
    margin-left: -125px;
    position:absolute;
    top: 50%;
    width: 250px;
 }

 p {
    border:3px;
    border-style:solid;
    border-color:#31367a;
    padding: 4rem;
    margin-left: 100px;
    margin-right: 100px;
 }

 footer {

    height: 250px;
    left: 50%;
    margin-top: 350px;
    margin-left: -125px;
    position:absolute;
    top: 50%;
    width: 250px;
  }